/* Mörk helskärm med vit text */
body {
    font-family: Arial, sans-serif;
    background-image: url("../bilder/images\ \(1\).jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  /* Innehållsbox med genomskinlig mörk bakgrund */
  .container {
    max-width: 500px;
    margin: 40px auto;
    background: none;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1{
    background: linear-gradient(to right, blue 0%, green 100% );
    color: transparent;
    background-clip:text;
    
  }
  /* Formulär */
  form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  /* Lägg till-knapp */
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2d5d91;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Gästlistan */
  ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 20px;
  }
  
  li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
  }
  
  /* Ta bort-knappen */
  li button {
    background-color:#2d5d91;
  
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  li button:hover {
    background-color: #b52a37;
  }
  
  /* Feedbackmeddelanden */
  #feedback {
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
  }
  
  .alert-success {
    color: #66ff66;
  }
  
  .alert-danger {
    color: #ff6666;
  }
  
  .alert-warning {
    color: rgb(189, 142, 55);
  }
  